<!-- @thymesVar id="order" type="com.example.j_pensionat.dto.order.OrderDto" -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" content="text/html; charset=UTF-8"/>
        <title>Detaljer</title>
    </head>
    <body>
    <h1>Boknings detaljer</h1>
    <p>Kund: <span th:text="${order.customerName}"></span></p>
    <p>Rum: <span th:text="${order.roomName}"></span></p>
    <p>Startdatum: <span th:text="${order.startDate}"></span></p>
    <p>Slutdatum: <span th:text="${order.endDate}"></span></p>
    <p>Anteckningar: <span th:text="${order.notes}"></span></p>
    <p>Betalstatus: <span th:text="${order.hasPaid}"></span></p>

    <p>Tillägg: </p>
    <table border="1">
        <thead>
        <tr>
            <th>Produktnamn</th>
            <th>Antal</th>
            <th>Pris (kr)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lineItem : ${order.lineItems}" th:if="${lineItem.quantity > 0}">
            <td th:text="${lineItem.productName}">Produktnamn</td>
            <td th:text="${lineItem.quantity}">Antal</td>
            <td th:text="${lineItem.price}">Pris</td>
        </tr>

        </tbody>
    </table>

    <a th:href="@{../../orders/edit/{id}(id=${order.orderId})}">Ändra</a>
    <br>
    <a href="../../orders/manage">Tillbaka</a>
    </body>
</html>