<!-- @thymesVar id="order" type="com.example.j_pensionat.dto.order.OrderDto" -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ändra bokning</title>
</head>
<body>

<h1>Ändra bokning</h1>

<div th:if="${error}" style="color: red; font-weight: bold;">
    <p th:text="${error}"></p>
</div>


<form th:action="@{/orders/{id}(id=${order.orderId})}" method="post" th:object="${order}">
    <input type="hidden" name="_method" value="put">

    <input type="hidden" th:field="*{orderId}" />

    <label for="notes">Anteckningar: </label>
    <input th:field="*{notes}" id="notes">

    <br>
    <label for="lineItems">Tillägg: </label>
    <div th:each="lineItem, stat : *{lineItems}" id="lineItems">
        <input type="hidden" th:field="*{lineItems[__${stat.index}__].productId}" />
        <input type="hidden" th:field="*{lineItems[__${stat.index}__].productName}" />
        <input type="hidden" th:field="*{lineItems[__${stat.index}__].productType}" />
        <input type="hidden" th:field="*{lineItems[__${stat.index}__].price}" />
        <input type="hidden" th:field="*{lineItems[__${stat.index}__].available}" />
        <input type="hidden" th:field="*{lineItems[__${stat.index}__].maxQuantity}" />
        <input type="hidden" th:field="*{lineItems[__${stat.index}__].orderId}" />


        <label th:text="${lineItem.productName}">Produktnamn</label>

        <input th:field="*{lineItems[__${stat.index}__].quantity}"
               min="0"
               th:max="${lineItem.maxQuantity}"
               th:disabled="${!lineItem.available}" />

        <span th:if="${!lineItem.available}" style="color: gray;">Ej tillgänglig</span>
    </div>

    <button type="submit">Bekräfta</button>

    <br>
    <a href="/orders/manage">Tillbaka</a>
</form>
</body>
</html>
