<!-- @thymesVar id="order" type="com.example.j_pensionat.model.Order" -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    <!--    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>-->
    <!--    <link href="/output.css" rel="stylesheet">-->
    </head>
    <body>
    <h1>All Bookings</h1>

    <table>
        <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Extra Bed</th>
            <th>Customer ID</th>
            <th>Room ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td colspan="5">
                <a th:href="@{/orders/details/{id}(id=${order.id})}">
                    <span th:text="${order.startDate} + ' → ' + ${order.endDate} + ' | Room ' + ${order.roomId} + ' | Customer ' + ${order.customerId}"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

        <a href="/orders/create">Ny bokning</a>
    </body>
</html>
