<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kunddetaljer</title>
</head>
<body>
<h1>Kunddetaljer</h1>

<p><strong>Id:</strong> <span th:text="${customer.id}">1</span></p>
<p><strong>Förnamn:</strong> <span th:text="${customer.firstName}">Förnamn</span></p>
<p><strong>Efternamn:</strong> <span th:text="${customer.lastName}">Efternamn</span></p>
<p><strong>Email:</strong> <span th:text="${customer.email}">email@example.com</span></p>
<p><strong>Adress:</strong> <span th:text="${customer.address}"Adress</span></p>
<p><strong>Telefonnummer:</strong> <span th:text="${customer.phoneNumber}">Telefonnummer</span></p>
<p><strong>Har betalt:</strong> <span th:text="${customer.hasPaid}">Har betalt</span></p>

<a th:href="@{/customers}">Tillbaka till listan</a>
</body>
</html>