<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html; charset=UTF-8"/>
    <title>Start</title>
</head>
<body>
  <h1> Vad vill du göra </h1>
  <a href="/bookings/hej"> <button> order </button> </a> <br>     <!-- länken kommer ändras när jag orkar/ när jag byter branch -->
  <a href="/register"><button> register </button> </a> <br>
  <a href="/rooms"><button> rum </button> </a> <br>
  <a href="/costumer"><button> kund </button> </a> <br>

</body>
</html>